@media (min-width:640px) {
    nav {
        display: block;
    }

    #menu {
        display: none;
    }

    nav ul {
        display: flex;
        justify-content: center;
    }

    nav li {
        border: none;
    }

    .info {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1rem;
        align-items: start;
    }

    .buttons {
        justify-content: center;
    }

}